.progress-bar {
    backface-visibility: hidden;
    height: 4px;
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 100;
    --progress: 0%;
    background-image: linear-gradient(to right, #1f5abd 0, #8910a8 var(--progress), transparent 0);
}
