@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.epithet-item {
    transition:
        transform 1s ease-in-out,
        opacity 0.5s ease-in-out;
    position: absolute;
}

.epithet-item-previous {
    opacity: 0;
    transform: translateY(-100%);
}

.epithet-item-next {
    transform: translateY(100%);
    opacity: 0;
}

.epithet-item-current {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 1024px) {
    .epithet-wrapper {
        height: 4.5rem;
    }

    .epithet-item {
        line-height: 1.5 !important;
    }
}
